@import "../Vars.scss";
.profile__container {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
  .avatar {
    margin-bottom: 42px;
  }
}

.role {
  text-align: center;
  font-weight: $subtitle-style;
  font-family: $secondary-font;
  font-size: 22px;
}

.intro {
  width: 100%;
}
