.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 124px;
  width: 100%;
  background-color: transparent;
}

.header__container {
  display: Flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  max-width: 1440px;
  width: 100%;
  background-color: transparent;
}

.logo__header {
  height: 100%;
  width: 120px;
}

.selectedLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 120px;
  background-color: rgba($color: #ffffff, $alpha: 0.05);

  border-radius: 50% 50%;
}
