.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 124px;
  width: 100%;
  background-color: transparent;
}

.header__container {
  display: Flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 920px;
}

.logo__header {
  height: 100%;
  width: 120px;
}
