@import "./Vars.scss";

* {
  margin: 0;
  padding: 0;
  color: $white-color;
  background-color: $background-color;
}

h1,
h2,
h4 {
  font-family: $primary-font;
  font-size: $header-text-size;
  background-color: transparent;
}

h2 {
  font-size: $title-text-size;
}
h4 {
  font-size: $info-text-size;
}

h3,
h5 {
  font-family: $secondary-font;
  font-size: $subtitle-text-size;
  font-weight: $subtitle-style;
  background-color: transparent;
}
img {
  background-color: transparent;
}
h3 {
  font-weight: $subtitle-style-strong;
}
div,
a {
  background-color: transparent;
}
a {
  text-decoration: none;
}

p {
  font-family: $secondary-font;
  font-size: $body-text-size;
  font-weight: $body-text-style;
}
.App {
  height: 95vh;
  display: flex;
  background: linear-gradient(
    89.8deg,
    rgba(0, 0, 0, 0.68) 42.73%,
    rgba(10, 35, 25, 0.68) 99.82%
  );
  justify-content: center;
  padding-top: 5vh;
  min-height: 720px;
}
